/* Signin, signout page */
.theme-signout {
	background-color: #27ae60;
}

.theme-signout #main-navbar {
	display: none;
}

@media (max-width: 767px) {
	.theme-signout .container {
		padding: 30px 0 0 0 !important;
	}
}

.theme-signout .container {
	padding: 80px 0 0 0;
}

.theme-signout .panel {
	border-radius: 12px;
}

.theme-signout .page-title{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	padding-bottom: 20px;
}

.theme-signout .login-text {
	padding: 0 0 15px 0;
}

.theme-signout .input-group-addon {
	min-width: 38px;
}

.theme-signout .footer-copyright > a{
	color: #fff;
}

.theme-signout .footer-copyright > a:hover{
	color: #fff;
	text-decoration: underline;
}

.feed-box .list-group-item > .list-group-row > .badge {
	float: right;
}

.services-row {
	display: table;
}

.services-row span,
.services-row a {
	display: table-cell;
	vertical-align: middle;
}

.services-row a {
	color: #777;
}

.services-row a:hover {
	color: #000;
}

/* ALL PAGES */

/* growl */

.growl.growl-notice {
	background: #27ae60;
	color: #fff;
}

.text-money {
	font-weight: 700;
}

.up {
	color: #27ae60;
}
.down {
	color: #c0392b;
}

.text-money.nochange {
	color: #3498db;
}

/* Panel header */ 

.panel-body > h4 {
	padding-bottom: 8px;
}

/* Navbar */

@media (min-width: 992px) {
	.navbar {
		padding: 0 60px 0 60px;
		background: #2c3e50;
	}
}

/* Page header */

.pagehead {
	font-weight: 300;
}
/* CONNECT PAGE */

.stripe-form,
.paypal-form {

}

.paypal-form-wrapper {
	padding-bottom: 15px;
}

.stripe-form .form-horizontal .form-control,
.stripe-form .form-horizontal .control-label {
	margin-top: 5px;
}

.form-control {
	margin-bottom: 5px;
}

/* DASHBOARD */

.chart-box {
	padding-bottom: 15px;
}

.feed-box > ul {

}

.chart-wrapper {
	border-radius: 2px;
	background-color: #fff;
	padding: 0 0 5px 0;
	margin-bottom: -1px;
}

.chart-wrapper canvas {
	height: 100px !important;
}

.chart-overlay {
	text-align: center;
	position: absolute;
	background: rgba(36,46,53,0.2);
	z-index: 3;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	opacity: 0;
	margin: 0 11px 15px 11px;
}

.chart-overlay:hover,
.chart-overlay:focus {
	opacity: 1;
}

.chart-overlay .text-overlay {
	padding: 0 3px 3px 3px;
	color: white;
	font-weight: bold;
	background: rgba(44,62,80,0.5);
	position: relative;
	top: 0px;
	font-size: 18px;
	font-weight: 300;
	-webkit-transition-property: top;
	transition-property: top;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.chart-overlay:hover .text-overlay,
.chart-overlay:focus .text-overlay {
	top: 0;
}

.chart-text-left {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 2.5em 0 0 1.5em;
}

.chart-text-right {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	padding: 2.5em 1.5em 0 0;
	text-transform: uppercase;
}

.chart-text-right .text-money,
.chart-text-left .text-money {
	font-size: 20px;
}

.transaction-list .list-group-item {
	border: none;
}

.timestamp {
	color: #848484;
	border-radius: 3px;
	font-size: 80%;
	display: inline-block;
}

.provider {
	font-size: 1.5em;
	vertical-align: middle;
}


.provider .icon {}

/* SETTINGS */

.account-form,
.connect-form {
	
}

.account-form-wrapper {
	padding-bottom: 15px;
}

.connect-form .list-group-item {
	border: none;
	padding-bottom: 15px;
}


/* SINGLE STATISTICS PAGE */

.single-statistic-wrapper {
	height: 250px;;
}

.stat-description-box {
	text-align: center;
	padding: 5px 0 15px 0;
}

.stat-growth-box {
	text-align: center;
	padding: 5px 0 15px 0;
}

.text-date {
	color: #2c3e50;
	font-size: 12px;
}

.stat-growth-box .text-money,
.stat-description-box .text-money {
	font-size: 36px;
}

.stat-input {
	font-size: 19px;
	height: 40px;
	margin-top: 5px;
}

.stat-header {
	background: #f7f7f7;
	border-bottom: 8px solid #f1f1f1;
}

.stat-header .dash {
	font-size: 19px;
	height: 40px;
	padding-top: 7px;
}

@media (max-width: 844px) {

	.stat-header .dash {
		display: none;
	}

}

@media (min-width: 845px) {

}


/* Utility */


@media (min-width: 845px) {
	.sm-pull-right {
		float: right !important;
	}
}

.text-left-always {
	text-align: left !important;
}

.quickstats-box canvas {
	width: 100% !important;
	padding-right: 5px;
}

.single-statistic-wrapper canvas {
	
}

.margin-vr-sm {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hidden-form {
	display: none;
}

