/* Signin, signout page */
.theme-signout {
	background-color: #27ae60;
}

.theme-signout .pa_page_alerts_default {
	margin-bottom: 0px;
}

.pa-page-alerts-box .alert {
	border-radius: 0px;
}

.theme-signout #main-navbar {
	display: none;
}

@media (max-width: 767px) {
	.theme-signout .container {
		padding: 30px 0 0 0 !important;
	}
}

.theme-signout .container {
	padding: 80px 0 0 0;
}

.theme-signout .panel {
	border-radius: 12px;
}

.theme-signout .page-title{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	padding-bottom: 20px;
}

.theme-signout .login-text {
	padding: 0 0 15px 0;
}

.theme-signout .input-group-addon {
	min-width: 38px;
}

.theme-signout .footer-copyright > a{
	color: #fff;
}

.theme-signout .footer-copyright > a:hover{
	color: #fff;
	text-decoration: underline;
}

.chart-box {
	background-color: #fff;
}



/*Utility*/

.service-icon .fa {
	font-size: 10em;
}


