/*login, register*/

.theme-signout {
	background: url('../img/bg.jpg');
}

.theme-signout h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

.theme-signout .container {
	padding: 80px 0 0 0;
}

.theme-signout .pa_page_alerts_default {
	margin-bottom: 0px;
}

.pa-page-alerts-box .alert {
	border-radius: 0px;
}

.theme-signout .panel {
	border-radius: 12px;
}

.theme-signout .login-text {
	padding: 0 0 15px 0;
}

.theme-signout .input-group-addon {
	min-width: 38px;
}

.theme-signout .footer-copyright > a{
	color: #fff;
}

.theme-signout .footer-copyright > a:hover{
	color: #777;
}

.visible-xs > .nav-tabs > li > a{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.nav-tabs.hidden-xs > li > a{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.nav-tabs.hidden-xs > li:first-child > a{
	border-top-left-radius: 11px;
}

.nav-tabs.hidden-xs > li:last-child > a{
	border-top-right-radius: 11px;
}

.nav-tabs > li.active.red > a,
.nav-tabs > li.active.red > a:hover,
.nav-tabs > li.active.red > a:focus {
	background-color: #e74c3c;
	border-bottom: 2px solid #e74c3c;
}

.nav-tabs > li.active.green > a,
.nav-tabs > li.active.green > a:hover,
.nav-tabs > li.active.green > a:focus {
	background-color: #2ecc71;
	border-bottom: 2px solid #2ecc71;
}

.nav-tabs > li.active.blue > a,
.nav-tabs > li.active.blue > a:hover,
.nav-tabs > li.active.blue > a:focus {
	background-color: #3498db;
	border-bottom: 2px solid #3498db;
}

.panel-blue {
	background: #3498db;
	border-color: #3498db !important;
}

.panel-green {
	background: #2ecc71;
	border-color: #2ecc71 !important;
}

.panel-red {
	background: #e74c3c;
	border-color: #e74c3c !important;
}

.panel-blue .panel-heading {
	background-color: #3498db;
	border-color: #3498db;
}
.panel-green .panel-heading {
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.panel-red .panel-heading {
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.panel-blue .panel-title,
.panel-red .panel-title,
.panel-green .panel-title {
	color: #fff;
}


.bg-blue {
	background: #3498db;
	border-top: 2px solid #3498db;
	color: #fff;
}

.bg-green {
	background: #2ecc71;
	border-top: 2px solid #2ecc71;
	color: #fff;
}

.bg-red {
	background: #e74c3c;
	border-top: 2px solid #e74c3c;
	color: #fff;
}

.nav-tabs.nav-justified>li {
	display: table-cell;
	width: 1%;
}
.nav-tabs.nav-justified>li>a {
	border-radius: 0px;
}

.nav-tabs.nav-justified>li {
	float: none;
}

@media (max-width: 767px) {
	.theme-dashboard .container {
		padding: 119px 0 88px 0 !important;
	}
	.theme-dashboard .tab-content {
		padding: 0px;
	}
}

.theme-dashboard {
	background: url('../img/bg.jpg');
	background-color: #000;
}

.theme-dashboard .container {
	padding: 55px 0 0 0;
}


.theme-dashboard .mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: #fff;
}

.theme-dashboard .ads-desktop {
	padding: 20px 0 0 0;
	margin: 0 auto;
}

.theme-dashboard .ads-mobile {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: #fff;
}

.theme-dashboard .panel-container{
	border-radius: 12px;
	background: #fff;
	margin: 0;
}

.theme-dashboard .panel {
	border-radius: 12px;
}

.theme-dashboard .panel-heading {
	border-top-right-radius: 11px;
	border-top-left-radius: 11px;
}

.list-row {
	padding: 15px 20px 15px 20px;
}

.list-row:not(:last-child){
	border-bottom: 1px solid #777;
}

.list-row:last-child {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.list-row .image {
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	margin: 5px -5px auto;
	border-radius: 99999px;
	border: 0;
	vertical-align: middle;
}

.list-row .image-div {
	vertical-align: middle;
	margin: 0 auto;
	display: block;
}

.list-row .title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-style: normal !important;
}

.list-row .description {

}

.list-row .price {
	border-left: 1px solid #777;
	text-align: center;
	vertical-align: middle;
}

.list-row .price .last-price {
	text-decoration: line-through;
}

.list-row .price .current-price {
	font-weight: 500;
	font-size: 22px;
}

.settings-form {
	font-family: 'Open Sans', sans-serif;
}

.settings-form .arrow-right {
	line-height: 1.33;
	padding: 10px 16px;
}

.settings-form .control-label{
	font-size: 17px;
	line-height: 1.33;
	padding: 10px 16px;
}

.settings-form .form-control{

}

/*utility classes*/

.text-white {
	color: #fff !important;
}

.hidden-slide {
	display: none;
}