$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// this is for ui-bootsrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// settings 
#settings-dropdown {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

#settings-icon{
  text-shadow: 1px 1px 3px rgba(20, 20, 20, 1);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ccc;
}

#settings-icon:hover{
  color: #4C4C4C;
  text-shadow: 1px 1px 3px rgba(20, 20, 20, 1);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ccc;
}

// grid
.opaque {
  background-color: transparent;
}